/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 de nov. de 2022, 19:32:50
    Author     : 37279
*/
:root{
    --color-preto: #1c1c1c;
}
body{
    background-color: #363636;
    color:white;
}

.logo img{
    width: 45px;
}

.title{
    text-align: center;
    color: red;
    display: block;
}

.cabecalho,
.navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecalho{
    background-color: black;
    box-shadow: 1px 1px 4px var(--color-preto);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}   
.navegacao{
    gap: 3em;
    z-index: 2;
}
.navegacao a{
    text-decoration: none;
    color: white;
    transition: 1s;
    font-weight: bold;
}
.navegacao a:hover{
    color: red;
}
.fundo{
    background-color: #363636;
    padding: 10px;
    border-radius: 10px;
}

.btn_icon{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .btn_icon{
        display: block;
    }
    .navegacao{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background-color: #5a5a5a;
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    @keyframes mostraBarraNav {
        from {margin-left: -100vw;}
        to {margin-left: -10vw;}
    }
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: gold;
}
.conteudo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.conteudo-footer h5{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.conteudo-footer p{/*esse p esta comentado caso queira descomentar e mudar alguma coisa fica a seu critério*/
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: gold;
    transition: 1s;
    font-weight: bold;
}
.social a:hover{
    color: red;
}
.social img{
    border-radius: 50%;
    width: 25%;
    /*as img nao certas com o texto tem algo de errado ali n sei oq é*/
}